<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestableCoreLocation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>347BBD8C1FA89E2C000BD16B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>347BBDA01FA89E2C000BD16B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>347BBDAB1FA89E2D000BD16B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
